{% extends "base.html" %}
{% load static %}
{% block active %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
    <li class="nav-item"><a class="nav-link" href="{% url "home" %}">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url "about" %}">About</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url "shop" %}">Shop</a></li>
</ul>
{% endblock active %}

{% block heading %}
<div class="row gx-4 gx-lg-5 align-items-center">
    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{% static "assets/upload.jpg" %}" alt="..." /></div>
    <div class="col-md-6">
        <h1 class="display-5 fw-bolder">Log In</h1>
        <div class="fs-5 mb-5">
            <span>Get into your account!</span>
        </div>
        <p class="lead">
            Crafting Green, Living Clean
        </p>
    </div>
</div>
{% endblock heading %}

{% block related %}
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Form</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-2 row-cols-xl justify-content-center">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit">
            </form>
        </div>
    </div>
</section>
{% endblock related %}